* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color);
}

:root {
  --bg1: rgb(148, 204, 221);
  --bg2: rgb(216, 209, 193);
  --color: rgb(17, 17, 65);
  --transition: all 0.3s linear;
}

.container {
  margin: 4rem auto;

  background-color: var(--bg1);
  width: 500px;
  height: 70vh;
  -webkit-box-shadow: -1px -25px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -25px 12px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -25px 12px -7px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.image-container {
  position: absolute;
  margin-top: -6rem;
  transition: var(--transition);
}
.image {
  width: 130px;
  border-radius: 50%;
  transition: var(--transition);
}

.name-job {
  align-self: center;
  margin-top: 3rem;
}

.job {
  margin-top: 1rem;
  text-align: center;
}

.buttons {
  position: absolute;
  margin-top: 8rem;
}

.btn {
  padding: 1.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  letter-spacing: 0.1rem;
  background: var(--bg2);
  border-left: 2px solid var(--color);
}

.btn:hover {
  background: var(--bg1);
  transition: var(--transition);
  cursor: pointer;
}
